{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block header %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% endblock %}
{% block footer %}{% endblock %}

{% block stylesheets %}
    <style>
      .centrer {
        text-align: center;
      }

      #logout {
          padding: 10px 15px;
          text-decoration: none;
          background-color: #007bff;
          color: white;
          border-radius: 5px;
          font-weight: bold;
          transition: 0.3s;
      }

    </style>
{% endblock %}

{% block body %}
    <div class="centrer" id="Intro">
        <h1>Bienvenue {{ app.user.fullName }}!</h1>
        <p>Voici les dernières informations métérologiques concernant la ville {{ app.user.city }}:</p>
    </div>
    <div class="centrer" id="InfoVille">
        <p>Placer ici l'API</p>
    </div>
    <a id="logout" href="/logout?_csrf_token=csrf-token">Se déconnecter</a>
{% endblock %}
