{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block header %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% endblock %}
{% block footer %}{% endblock %}

{% block stylesheets %}
    <style>
      .centrer {
        text-align: center;
      }
      body {
        font-family: 'Open Sans', sans-serif !important;
        background-color: 	#C0C0C0 !important;
      }

      #logout {
          padding: 10px 15px;
          text-decoration: none;
          background-color: #007bff;
          color: white;
          border-radius: 5px;
          font-weight: bold;
          transition: 0.3s;
      }

      #footer {
        background-color: black;
        text-align: center;
        text-color: white;
        padding: 20px;
        margin-top: 30px;
      }

      .page-container {
      max-width: 900px;           /* or whatever fits your design */
      margin: 0 auto;
      background-color: white;    /* center content background */
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* optional for separation effect */
    }
    </style>
{% endblock %}

{% block body %}
<div class="page-container">
    <div class="centrer" id="Intro">
        <h1>Bienvenue {{ app.user.fullName }}!</h1>
        <p>Voici les dernières informations métérologiques concernant la ville {{ app.user.city }}:</p>
    </div>
    <div class="centrer" id="InfoVille">
        <p>Placer ici l'API</p>
    </div>
    <a id="logout" href="/logout?_csrf_token=csrf-token">Se déconnecter</a>
    <footer id="footer">
        <p>Projet Méthodes d'authentification. Tous droits réservés ©</p>
    </footer>
</div>
{% endblock %}
